# Terraform sensitive files
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars
terraform/*.tfstate*

# Ansible sensitive files
ansible/inventory.ini
ansible/vault_pass.txt

# Temporary files
*.retry
*.log
__pycache__/
